.outlet {
  min-height: 100vh;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: nowrap;
  margin: auto;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 1000px) {
  .outlet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
  }

  .card-container {
    display: grid;
    grid-template-columns: 1fr;
    width: min(80%, 70rem);
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .dessert-card {
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 250px;
    gap: 25px;
    width: 250px;
    justify-content: center;
  }
}
